<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link href="/main.css" rel="stylesheet">-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">

            <div class=" form-group ">
                <form action="#" th:action="@{/fichero}" th:object="${fichero}" method="post"
                      enctype="multipart/form-data">
                    <p>name: <input type="text" th:field="*{nombre}"/></p>
                    <p>document:<input type="file" th:field="*{file}" multiple="multiple"/></p>
                    <input type="submit" value="upload"/>
                    <input type="reset" value="Reset"/>
                </form>
            </div>

        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-md-12">
                <tbody>
                <tr th:each="fich: ${ficheros}">
                    <td th:text="${fich.id}"/>
                    <td th:text="${fich.file}"/>
                    <td th:text="${fich.nombre}"/>
                    <td th:text="${fich.fecha_subida}"/>
                </tr>
                </tbody>
                <br>
                <label for="id">ID:</label>
                <input type="text" id="id" class="form-control" placeholder="ID">
                </br>
                <button class="btn btn-default" type="submit" onclick="verFichero()">Ver</button>
                <div id="verFichero"></div>
            </div>
        </div>
    </form>
</div>
<script>
    formId.onsubmit = async (e) => {

        e.preventDefault();
        datos = new FormData();
//datos.append('nombre', document.querySelector('#nombre'));
        datos.append('file', document.getElementById('file'));
        let response = await fetch('http://localhost:8080/fichero', {
            method: 'POST',
            body: new FormData(formId)
        });
        console.log(datos.values());
        let aux = await response.json();
        console.log(response.message);

    };
</script>
</body>
</html>